absl-py==0.2.2
astor==0.7.1
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
enum34==1.1.6
future==0.16.0
gast==0.2.0
grpcio==1.13.0
gym==0.10.5
idna==2.7
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
mock==2.0.0
mpyq==0.2.5
numpy==1.14.5
opencv-python==3.4.2.17
pbr==4.1.1
portpicker==1.2.0
protobuf==3.6.0
pygame==1.9.4
pyglet==1.3.2
pyparsing==2.2.0
PySC2==2.0.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
s2clientprotocol==4.4.0.65895.0
scipy==1.1.0
six==1.11.0
sk-video==1.1.10
tensorboard==1.9.0
tensorflow-gpu==1.15.0
termcolor==1.1.0
urllib3==1.23
websocket-client==0.48.0
Werkzeug==0.14.1
whichcraft==0.4.1
